doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/icha-style.css')
	
		link(rel="stylesheet", href="/stylesheets/bootstrap.min.css")
		link(rel="stylesheet", href="/stylesheets/bootstrap-theme.min.css")
		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
		script(src="/javascripts/bootstrap.min.js")
		script(src="/javascripts/jquery.knob.js")
		script(src="model/HADevice.js")
		<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/start/jquery-ui.css">		
		<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
		<script src="/node_modules/moment/moment.js"></script>
		
	body(style='background-color:#222')

		<!-- Fixed navbar -->
		div(class="navbar-inverse navbar-default navbar-fixed-top", role="navigation")
			.container
				.navbar-header
					button(type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse")
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					a.navbar-brand(href='/') InControl HA
				.navbar-collapse.collapse
					ul.nav.navbar-nav
						li.active
							a(href='/') Dashboard
						li
							a(href='/devices') Devices
						li
							a(href='/scenes') Scenes

		div(id="dvMessage",style="margin-top:80px;")

		.container.theme-showcase(role="main",style="margin-top:40px;background-color:white;border-radius:5px;") 
			block content

		script.
			setTimeout("checkMessages()", 1000);
			function checkMessages() {
				
				$.ajax({
					type: "GET",
					url: "/messages",
					success: function(data) { 
						if (data.messages && data.messages.length > 0) {							
							for(var i = 0; i < data.messages.length; i++) {							
								var msg = data.messages[i];
								// alert(msg.message);
								showMessage(msg.message);
							}
						}
					}
				});

				// Restart the check message call
				setTimeout("checkMessages()", 3000);
			}

			function showMessage(message) {
				var divHtml = "<div class='alert alert-success alert-dismissable'><button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;</button>" + message + "</div>";
				$("#dvMessage").html(divHtml);				
			}